<%- include layouts/header.ejs%>

  <div class="container">
    <h1 class="display-4">
      <%= title %>
    </h1>

    <div class="row row-cols-1 row-cols-md-2 g-4 test">
      <div class="col-sm-6 col-lg-3">
        <div class="card shadow-sm br-5">
          <img src='https://s2.studylib.es/store/data/008951904_1-e866c73c62c594cdb086f3e542da4865.png'
            class="card-img-top" alt="..." style="height: 400px;">
          <div class="card-body">
            <h5 class="card-title test"> DFZ</h5>
            <p class="card-text">DFZ</p>
            <a href="/" class="btn btn-success btn-inline">Donate</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="card shadow-sm br-5">
          <img
            src='https://d20ohkaloyme4g.cloudfront.net/img/document_thumbnails/03303069d379f44e5215dd561862e3e8/thumb_1200_1505.png'
            class="card-img-top" alt="..." style="height: 400px;">
          <div class="card-body">
            <h5 class="card-title"> DFZ</h5>
            <p class="card-text">DFZ</p>
            <div class="row">
              <div class="col">
                
                <a href="/" class="btn btn-success btn-block">Donate</a>
              </div>
              <div class="col">
                
                <a href="/" class="btn btn-success btn-block">Download</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="card shadow-sm br-5">
          <img src='https://0.academia-photos.com/attachment_thumbnails/59117248/mini_magick20190503-2414-1wegsln.png'
            class="card-img-top" alt="..." style="height: 400px;">
          <div class="card-body">
            <h5 class="card-title"> DFZ</h5>
            <p class="card-text">DFZ</p>
            <a href="/" class="btn btn-success btn-inline">Donate</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="card shadow-sm br-5">
          <img src='https://imgv2-2-f.scribdassets.com/img/document/401477431/original/ec6cff011b/1616499580?v=1'
            class="card-img-top" alt="..." style="height: 400px">
          <div class="card-body">
            <h5 class="card-title"> DFZ</h5>
            <p class="card-text">DFZ</p>
            <a href="/" class="btn btn-success btn-inline">Donate</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="card shadow-sm br-5">
          <img
            src='https://d20ohkaloyme4g.cloudfront.net/img/document_thumbnails/03303069d379f44e5215dd561862e3e8/thumb_1200_1505.png'
            class="card-img-top" alt="..." style="height: 400px;">
          <div class="card-body">
            <h5 class="card-title"> DFZ</h5>
            <p class="card-text">DFZ</p>
            <div class="row">
              <div class="col">
                
                <a href="/" class="btn btn-success btn-block">Donate</a>
              </div>
              <div class="col">
                
                <a href="/" class="btn btn-success btn-block">Download</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="card shadow-sm br-5">
          <img src='https://0.academia-photos.com/attachment_thumbnails/59117248/mini_magick20190503-2414-1wegsln.png'
            class="card-img-top" alt="..." style="height: 400px;">
          <div class="card-body">
            <h5 class="card-title"> DFZ</h5>
            <p class="card-text">DFZ</p>
            <a href="/" class="btn btn-success btn-inline">Donate</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="card shadow-sm br-5">
          <img src='https://imgv2-2-f.scribdassets.com/img/document/401477431/original/ec6cff011b/1616499580?v=1'
            class="card-img-top" alt="..." style="height: 400px">
          <div class="card-body">
            <h5 class="card-title"> DFZ</h5>
            <p class="card-text">DFZ</p>
            <a href="/" class="btn btn-success btn-inline">Donate</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="card shadow-sm br-5">
          <img
            src='https://d20ohkaloyme4g.cloudfront.net/img/document_thumbnails/03303069d379f44e5215dd561862e3e8/thumb_1200_1505.png'
            class="card-img-top" alt="..." style="height: 400px;">
          <div class="card-body">
            <h5 class="card-title"> DFZ</h5>
            <p class="card-text">DFZ</p>
            <div class="row">
              <div class="col">
                
                <a href="/" class="btn btn-success btn-block">Donate</a>
              </div>
              <div class="col">
                
                <a href="/" class="btn btn-success btn-block">Download</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="card shadow-sm br-5">
          <img src='https://0.academia-photos.com/attachment_thumbnails/59117248/mini_magick20190503-2414-1wegsln.png'
            class="card-img-top" alt="..." style="height: 400px;">
          <div class="card-body">
            <h5 class="card-title"> DFZ</h5>
            <p class="card-text">DFZ</p>
            <a href="/" class="btn btn-success btn-inline">Donate</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="card shadow-sm br-5">
          <img src='https://imgv2-2-f.scribdassets.com/img/document/401477431/original/ec6cff011b/1616499580?v=1'
            class="card-img-top" alt="..." style="height: 400px">
          <div class="card-body">
            <h5 class="card-title"> DFZ</h5>
            <p class="card-text">DFZ</p>
            <a href="/" class="btn btn-success btn-inline">Donate</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="card shadow-sm br-5">
          <img
            src='https://d20ohkaloyme4g.cloudfront.net/img/document_thumbnails/03303069d379f44e5215dd561862e3e8/thumb_1200_1505.png'
            class="card-img-top" alt="..." style="height: 400px;">
          <div class="card-body">
            <h5 class="card-title"> DFZ</h5>
            <p class="card-text">DFZ</p>
            <div class="row">
              <div class="col">
                
                <a href="/" class="btn btn-success btn-block">Donate</a>
              </div>
              <div class="col">
                
                <a href="/" class="btn btn-success btn-block">Download</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="card shadow-sm br-5">
          <img src='https://0.academia-photos.com/attachment_thumbnails/59117248/mini_magick20190503-2414-1wegsln.png'
            class="card-img-top" alt="..." style="height: 400px;">
          <div class="card-body">
            <h5 class="card-title"> DFZ</h5>
            <p class="card-text">DFZ</p>
            <a href="/" class="btn btn-success btn-inline">Donate</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="card shadow-sm br-5">
          <img src='https://imgv2-2-f.scribdassets.com/img/document/401477431/original/ec6cff011b/1616499580?v=1'
            class="card-img-top" alt="..." style="height: 400px">
          <div class="card-body">
            <h5 class="card-title"> DFZ</h5>
            <p class="card-text">DFZ</p>
            <a href="/" class="btn btn-success btn-inline">Donate</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="card shadow-sm br-5">
          <img
            src='https://d20ohkaloyme4g.cloudfront.net/img/document_thumbnails/03303069d379f44e5215dd561862e3e8/thumb_1200_1505.png'
            class="card-img-top" alt="..." style="height: 400px;">
          <div class="card-body">
            <h5 class="card-title"> DFZ</h5>
            <p class="card-text">DFZ</p>
            <div class="row">
              <div class="col">
                
                <a href="/" class="btn btn-success btn-block">Donate</a>
              </div>
              <div class="col">
                
                <a href="/" class="btn btn-success btn-block">Download</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="card shadow-sm br-5">
          <img src='https://0.academia-photos.com/attachment_thumbnails/59117248/mini_magick20190503-2414-1wegsln.png'
            class="card-img-top" alt="..." style="height: 400px;">
          <div class="card-body">
            <h5 class="card-title"> DFZ</h5>
            <p class="card-text">DFZ</p>
            <a href="/" class="btn btn-success btn-inline">Donate</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="card shadow-sm br-5">
          <img src='https://imgv2-2-f.scribdassets.com/img/document/401477431/original/ec6cff011b/1616499580?v=1'
            class="card-img-top" alt="..." style="height: 400px">
          <div class="card-body">
            <h5 class="card-title"> DFZ</h5>
            <p class="card-text">DFZ</p>
            <a href="/" class="btn btn-success btn-inline">Donate</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="card shadow-sm br-5">
          <img
            src='https://d20ohkaloyme4g.cloudfront.net/img/document_thumbnails/03303069d379f44e5215dd561862e3e8/thumb_1200_1505.png'
            class="card-img-top" alt="..." style="height: 400px;">
          <div class="card-body">
            <h5 class="card-title"> DFZ</h5>
            <p class="card-text">DFZ</p>
            <div class="row">
              <div class="col">
                
                <a href="/" class="btn btn-success btn-block">Donate</a>
              </div>
              <div class="col">
                
                <a href="/" class="btn btn-success btn-block">Download</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="card shadow-sm br-5">
          <img src='https://0.academia-photos.com/attachment_thumbnails/59117248/mini_magick20190503-2414-1wegsln.png'
            class="card-img-top" alt="..." style="height: 400px;">
          <div class="card-body">
            <h5 class="card-title"> DFZ</h5>
            <p class="card-text">DFZ</p>
            <a href="/" class="btn btn-success btn-inline">Donate</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="card shadow-sm br-5">
          <img src='https://imgv2-2-f.scribdassets.com/img/document/401477431/original/ec6cff011b/1616499580?v=1'
            class="card-img-top" alt="..." style="height: 400px">
          <div class="card-body">
            <h5 class="card-title"> DFZ</h5>
            <p class="card-text">DFZ</p>
            <a href="/" class="btn btn-success btn-inline">Donate</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="card shadow-sm br-5">
          <img
            src='https://d20ohkaloyme4g.cloudfront.net/img/document_thumbnails/03303069d379f44e5215dd561862e3e8/thumb_1200_1505.png'
            class="card-img-top" alt="..." style="height: 400px;">
          <div class="card-body">
            <h5 class="card-title"> DFZ</h5>
            <p class="card-text">DFZ</p>
            <div class="row">
              <div class="col">
                
                <a href="/" class="btn btn-success btn-block">Donate</a>
              </div>
              <div class="col">
                
                <a href="/" class="btn btn-success btn-block">Download</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="card shadow-sm br-5">
          <img src='https://0.academia-photos.com/attachment_thumbnails/59117248/mini_magick20190503-2414-1wegsln.png'
            class="card-img-top" alt="..." style="height: 400px;">
          <div class="card-body">
            <h5 class="card-title"> DFZ</h5>
            <p class="card-text">DFZ</p>
            <a href="/" class="btn btn-success btn-inline">Donate</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="card shadow-sm br-5">
          <img src='https://imgv2-2-f.scribdassets.com/img/document/401477431/original/ec6cff011b/1616499580?v=1'
            class="card-img-top" alt="..." style="height: 400px">
          <div class="card-body">
            <h5 class="card-title"> DFZ</h5>
            <p class="card-text">DFZ</p>
            <a href="/" class="btn btn-success btn-inline">Donate</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="card shadow-sm br-5">
          <img
            src='https://d20ohkaloyme4g.cloudfront.net/img/document_thumbnails/03303069d379f44e5215dd561862e3e8/thumb_1200_1505.png'
            class="card-img-top" alt="..." style="height: 400px;">
          <div class="card-body">
            <h5 class="card-title"> DFZ</h5>
            <p class="card-text">DFZ</p>
            <div class="row">
              <div class="col">
                
                <a href="/" class="btn btn-success btn-block">Donate</a>
              </div>
              <div class="col">
                
                <a href="/" class="btn btn-success btn-block">Download</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="card shadow-sm br-5">
          <img src='https://0.academia-photos.com/attachment_thumbnails/59117248/mini_magick20190503-2414-1wegsln.png'
            class="card-img-top" alt="..." style="height: 400px;">
          <div class="card-body">
            <h5 class="card-title"> DFZ</h5>
            <p class="card-text">DFZ</p>
            <a href="/" class="btn btn-success btn-inline">Donate</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="card shadow-sm br-5">
          <img src='https://imgv2-2-f.scribdassets.com/img/document/401477431/original/ec6cff011b/1616499580?v=1'
            class="card-img-top" alt="..." style="height: 400px">
          <div class="card-body">
            <h5 class="card-title"> DFZ</h5>
            <p class="card-text">DFZ</p>
            <a href="/" class="btn btn-success btn-inline">Donate</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="card shadow-sm br-5">
          <img
            src='https://d20ohkaloyme4g.cloudfront.net/img/document_thumbnails/03303069d379f44e5215dd561862e3e8/thumb_1200_1505.png'
            class="card-img-top" alt="..." style="height: 400px;">
          <div class="card-body">
            <h5 class="card-title"> DFZ</h5>
            <p class="card-text">DFZ</p>
            <div class="row">
              <div class="col">
                
                <a href="/" class="btn btn-success btn-block">Donate</a>
              </div>
              <div class="col">
                
                <a href="/" class="btn btn-success btn-block">Download</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="card shadow-sm br-5">
          <img src='https://0.academia-photos.com/attachment_thumbnails/59117248/mini_magick20190503-2414-1wegsln.png'
            class="card-img-top" alt="..." style="height: 400px;">
          <div class="card-body">
            <h5 class="card-title"> DFZ</h5>
            <p class="card-text">DFZ</p>
            <a href="/" class="btn btn-success btn-inline">Donate</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="card shadow-sm br-5">
          <img src='https://imgv2-2-f.scribdassets.com/img/document/401477431/original/ec6cff011b/1616499580?v=1'
            class="card-img-top" alt="..." style="height: 400px">
          <div class="card-body">
            <h5 class="card-title"> DFZ</h5>
            <p class="card-text">DFZ</p>
            <a href="/" class="btn btn-success btn-inline">Donate</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="card shadow-sm br-5">
          <img
            src='https://d20ohkaloyme4g.cloudfront.net/img/document_thumbnails/03303069d379f44e5215dd561862e3e8/thumb_1200_1505.png'
            class="card-img-top" alt="..." style="height: 400px;">
          <div class="card-body">
            <h5 class="card-title"> DFZ</h5>
            <p class="card-text">DFZ</p>
            <div class="row">
              <div class="col">
                
                <a href="/" class="btn btn-success btn-block">Donate</a>
              </div>
              <div class="col">
                
                <a href="/" class="btn btn-success btn-block">Download</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="card shadow-sm br-5">
          <img src='https://0.academia-photos.com/attachment_thumbnails/59117248/mini_magick20190503-2414-1wegsln.png'
            class="card-img-top" alt="..." style="height: 400px;">
          <div class="card-body">
            <h5 class="card-title"> DFZ</h5>
            <p class="card-text">DFZ</p>
            <a href="/" class="btn btn-success btn-inline">Donate</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="card shadow-sm br-5">
          <img src='https://imgv2-2-f.scribdassets.com/img/document/401477431/original/ec6cff011b/1616499580?v=1'
            class="card-img-top" alt="..." style="height: 400px">
          <div class="card-body">
            <h5 class="card-title"> DFZ</h5>
            <p class="card-text">DFZ</p>
            <a href="/" class="btn btn-success btn-inline">Donate</a>
          </div>
        </div>
      </div>
    </div>

  </div>


  </div>

  <%- include layouts/footer.ejs%>